<h2> Your stop for all your sandwich-making needs! </h2>

<% if user_signed_in? %> 

	<div>	
		<%= link_to "Sandwich List", sandwiches_path %>
	</div>

	<%= link_to "Logout", destroy_user_session_path, method: "delete" %>

<% else %>
	
	<%= link_to "Sign Up", new_user_registration_path %>
	<%= link_to "Login", new_user_session_path %>	
		

<% end %>	
