.body {
	border: 1px grey;
}

.div {
	width: 100%;
}

.header {
	background-image: url("https://raw.githubusercontent.com/ironhack-miami-oct-2016/course-examples/master/week3/day1/exercises/1-netflix-landing/images/family.jpg");
	background-size: cover;
	height: 500px;
	background-repeat: no-repeat;
	
}


.netflix { 
    width: 25%;
    position: relative;
    bottom: 20px;


}

#sign-in {
	position: absolute;
    top: 25px;
    right: 25px;
}

.blocktext {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.75);
	margin: 5% 25% 25% 25%;
	width: 50%;
	height: 30%;
	padding: 25px;

}

h1 {
	text-align: left;

}

#sign-in {
	background-color: #f44336;
}

#start {
	background-color: #008CBA;
	margin-bottom: 100px; 
	float: center;
	margin-left: 30%;
}


p {
	font-size: 20px;
}


.image {
	border: 1px grey;
	margin: 10px;
	height: 75%;
	display: inline-block;
}

.releases {
	width: 100%;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 25px;
	height: 200px;
}

.footer {
	background-color: #000;
	width: 100%;
	height: 45px;
	margin-top: 25px;
}