<!-- app/views/snippets/_navigation.html.erb -->
<!-- Rails need the underscore - naming convention for snippets -->
<!-- Use this for snippets of html that is included in a FEW pages, 
	but not in ALL pages.
	If you need the html in ALL pages, then include it in the application.html.erb instead -->
<!-- Then type: < %= render "snippets/navigation" %>" in your application.html.erb, where you want this snippet to appear.	 -->


 <ul>
	<li> <a href="/"> Home </a> </li>
	<li> <a href="/contact"> Contact </a> </li>
 </ul>
 