

<h2> Concerts Today: </h2>

<ul>
	<% @concerts.each do |one_concert| %>
		
			<li>
				
			<%= link_to one_concert.artist, concert_show_path(one_concert.id) %>
			</li>

			<BR>

		
	<% end %> 
</ul>


