<!DOCTYPE html>

<html>
	<header ALIGN=Left>
		<ul>
			<li>
				<a href="/"> Home </a>
			</li>

			<li>
				<a href="/add"> Addition </a>
			</li>

			<li>
				<a href="/subtract"> Subtraction </a>
			</li>

			<li>
				<a href="/multiply"> Multiplication </a>
			</li>

			<li>
				<a href="/divide"> Division </a>
			</li>

		</ul>
	</header>

	<body>
	  <h1>Divide</h1>
		
		<form action="/calculate_divide" method="POST">
			<input type="number" name="first_number" placeholder="1st number"> /
			<input type="number" name="second_number" placeholder="2nd number">

			<button type="submit">Calculate</button>
		</form>

	</body>
</html>