<!DOCTYPE html>

<html>

	<body>

	  <h1>Online Calculator</h1>
			
			<p> Which operation do you require? </p>

		<ul>

			<li>
				<a href="/add"> Addition </a>
			</li>

			<li>
				<a href="/subtract"> Subtraction </a>
			</li>

			<li>
				<a href="/multiply"> Multiplication </a>
			</li>

			<li>
				<a href="/divide"> Division </a>
			</li>

		</ul>

	</body>
</html>