<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

	  <h1>Online Calculator</h1>
			
			<p> Which operation do you require? </p>
		
		<form action="/result" method="post">
			<input type="number" name="first_number" placeholder="1st number"> 

			<input type="number" name="second_number" placeholder="2nd number"> <BR>

				<button type="submit" name="operation" value="addition">ADD</button>

				<button type="submit" name="operation" value="subtraction">SUBTRACT</button>

				<button type="submit" name="operation" value="multiplication">MULTIPLY</button>

				<button type="submit" name="operation" value="division">DIVIDE</button>

	</body>
</html>