

<p> Ironhack powered </p>


<!-- <img src="/assets/murray.gif"
	alt="Bill Murray wearing red beanie while lighting up a cigarrette."> -->

<%= image_tag "murray.gif" %> 

<!-- both of these ways of including an image - via html or via ruby - 
	look the same on the web, however, if you click inspect,
	the url of the image will be different - the ruby version
	will have a long url with numbers -->