<!-- app/views/site/home.html.erb -->

<h1>Word Central</h1>

<p>Your destination for text utilities.</p>


<ul>
	<li> 
		<a href="/text_inspections/new"> Text Inspect </a> 
	</li>
	<li> 
		<a href="/asciis/new"> Text to Ascii Art </a> 
	</li>
</ul>