<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Welcome to the To-Do List:</h1>
			
			<h2>Your List:</h2>

			<% @task.each do |task| %>
				<li> <%= task.content %> </li>
			<% end %>

			<h2>Add Tasks to Your List:</h2>
			
			<form action="/create_task" method="post">
				
				<label for="task">New Task:</label>
				<input type="text" name="new_task" placeholder="Do laundry."> 

				<input type="submit" value="submit">

			</form>

			<a href="/"> Home </a> 
	</body>
</html>