<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Welcome to the To-Do List:</h1>
			
			<!--  display all the tasks -->

			<h2>Add Tasks to Your List:</h2>
			
			<form action="/create_task" method="post">
				
				<label for="task">New Task:</label>
				<input type="text" id="task" name="new task" placeholder="Do laundry."> 

				<button type="submit" name="new task" value="create_task">Add Task</button>

			</form>

			<a href="/"> Home </a> <BR>
	</body>
</html>