<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Welcome to the To-Do List:</h1>
			
			<!--  display all the tasks -->
			<%= 
			
			%>
			
			<a href="/"> Home </a> <BR>
			<a href="/add_tasks"> Add Tasks </a>

	</body>
</html>