<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Welcome to the To-Do List:</h1>
			
			<h2>Your List:</h2>

			<% @task.each do |task| %>

				<li> 

				<%= task.content %> 

				</li>

			<% end %>
			
			
		
			<a href="/add_tasks"> Add Tasks </a>

	</body>
</html>





			