<h1> Music Concert Network </h1>
<h2> Concerts: </h2>

<ul>
	<% @concerts.each do |one_concert| %>
		
		<li>
			<b> <%= one_concert.artist %> </b>
		</li>
		<%= link_to "Info", "/concerts/:id/show" %>
		<BR>
	<% end %> 
</ul>



<nav>
	<%= link_to "Home", "/" %>
	-
	<%= link_to "Add Concert", "/concerts/new" %>
</nav>


