<h1> Music Concert Network </h1>
<h2> All Concerts: </h2>

<ul>
	<% @concerts.each do |one_concert| %>
		
		<li>

		<%= link_to one_concert.artist, concert_show_path(one_concert.id) %>

		</li>

	<% end %> 
</ul>



<nav>
	<%= link_to "Home", "/" %>
	-
	<%= link_to "Add Concert", "/concerts/new" %>
</nav>


