<h1> Address Book</h1>
<h2> Contacts: </h2>

<ul>
	<% @contacts.each do |one_contact| %>
	
		<li>
			<b> Name: </b> <%= one_contact.name %>
		</li>

	<% end %> 
 </i>
</ul>

<div> <a href="/contacts/new"> Add Contact </a> </div>
<div> <a href="/"> Home </a> </div>
