<h1> Address Book</h1>
<h2> Contacts: </h2>

<ul>
	<% @contacts.each do |one_contact| %>
	
		<li>
			<b> Name: </b> <%= one_contact.name %>
		</li>
		
		
		<%= link_to "Show Info", "/contacts/:id/show" %>

	<% end %> 
 </i>
</ul>

<nav>
<%= link_to "Add Contact", "/contacts/new" %>
- 
<%= link_to "Home", "/" %>
</nav>