<!-- app/views/contacts/new.html.erb -->
<h1>Address Book</h1>
<h2>Add a new contact: </h2>

<form action="/contacts" method="POST">
  <div>
    <label for="contact_name"> <i> Name </i> </label>
    <input type="text" name="contact[name]" id="contact_name">
  </div>

  <div>
    <label for="contact_address"> <i> Address </i> </label>
    <textarea name="contact[address]" id="contact_address"></textarea>
  </div>

  <div>
    <label for="contact_phone"> <i> Phone number </i> </label>
    <input type="tel" name="contact[phone]" id="contact_phone">
  </div>

  <div>
    <label for="contact_email"> <i> Email </i> </label>
    <input type="email" name="contact[email]" id="contact_email">
  </div>

  <button type="submit"> Add contact </button>

  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
      
</form>

<div> <a href="/"> Home </a> </div>