<h1> Address Book</h1>
<h2> Contacts: </h2>

<div>
	<p> <b> <%= @contact.name %> </b> </p>

	<ul>
		<li>
			<b> Address: </b> <%= @contact.address %>
		</li>

		<li>
			<b> Phone: </b> <%= @contact.phone_number %>
		</li>

		<li>
			<b> Email: </b> <%= @contact.email_address %>
		</li>
	</ul>
</div>	