.blue {
	background-color: #39CCCC;
	border-color: #85144b;
	border-style: solid;
	border-width: 5px;

}


#red {
	background-color: #85144b;
	border-color: #39CCCC;
	border-style: solid;
	border-width: 5px;
}

.box {
	margin: 10px;
}

#top {
	position: absolute;
    top: 350px;
    left: 350px;
}

#bottom {
	position: absolute;
	top: 400px;
    left: 500px;
}

.direction {
	padding: 20%;
}

.green {
	background-color: #01FF70;
}