<h1> Lorena's Site </h1>
<h2> Lorena's Favorite Pizza </h2>

<p> The ingredients for this pizza are: </p>

<img src="/turtle.gif">

<ul>
	<% @toppings.each do |my_topping| %> 
		<li> <%= my_topping %> </li>
	<% end %> 
</ul>