<header>Sinatra app</header>
<h1>Lorena's Page</h1>
<h2>Home Page</h2>
<p>My first Sinatra app. Woo!</p>
<p> Let's Learn to Make a Web App: </p>

<ul>

	<li>
		<a href="/"> Home </a>
	</li>

	<li>
		<a href="/hi"> Hello </a>
	</li>

	<li>
		<a href="/about"> About </a>
	</li>

</ul>