<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Welcome to Movie Trivia!</h1>
		
		<p>
	
		<form action="/searching" method="get">
		
		<label for="word">Choose a word:</label>
		<input type="text" id="word" name="select_word" placeholder="Funny"> 
			
		<button type="submit">Find movies</button>
		
			
		</form>

		</p>
		

	</body>
</html>





			