<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Welcome to Movie Trivia!</h1>
	
			<a href="/search_results"> Start </a>
			<!-- <a href="/add_tasks"> Add Tasks </a> -->
			<!-- <a href="/add_tasks"> Add Tasks </a> -->
	</body>
</html>





			