<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Welcome to Movie Trivia!</h1>
		
		<p>
	
		<form action="/searching" method="post">
		
		<label for="word">Choose a word:</label>
		<input type="text" id="word" name="select_item" placeholder="Funny"> 
			
		<button type="submit">Find movies</button>
		
			
		</form>

		</p>
			<a href="/"> Home </a>
			<!-- <a href="/add_tasks"> Add Tasks </a> -->
			<!-- <a href="/add_tasks"> Add Tasks </a> -->
	</body>
</html>





			