<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Results!</h1>


		<h2>The 9 Movies:</h2>

			<% @nine_movies.each do |movie| %>

				<li> 

				<img src= "<%= movie.poster %>" >

				</li>

			<% end %>
			
			
		
	

			<p> <a href="/"> Home </a> </p>

	</body>
</html>





			