<h2> Addition </h2>

<form method="post" action="/calculate">
	<div>
		<label> First number: </label>
		<input type="number" name="first_num">
	</div>
	
	<div>
		<label> Second number: </label>
		<input type="number" name="second_num">
	</div>


<!-- this is a security feature to prevent hackers from submitting a form not through this website - in particular a malicious form:  -->
	<input type="hidden" name="authenticity_token"
		value="<%= form_authenticity_token %>">

	<button> Add </button>	
</form>