<h1>Word Central</h1>

<h2>Submit text to turn into ascii art:</h2>

<form action="/asciis" method="post">
  <div>
    <label for="asciis_user_text">Text</label>
    <textarea name="asciis[user_text]" id="asciis_user_text"></textarea>
  </div>

  <input type="hidden" name="authenticity_token"
		value="<%= form_authenticity_token %>">

  <button type="submit">Submit text</button>
</form>

